<div class="card card-body mb-5">
    <div class="card-img-top card-header">
        <img src="{{ asset(evenement.sport.imageOrPlaceholder) }}" class="card-img" alt="{{ evenement.sport.nom }}">
    </div>

    <div class="card-body">
        <h4 class="card-title">Créé par {{ evenement.user.fullname }}</h4>
        <span class="badge badge-pill badge-primary mb-2">{{ evenement.sport }}</span>
        <h5 class="card-subtitle mb-2 text-muted">Date de l'événement : {{ evenement.dateEvent | date('d.m.Y') }}</h5>
        <h6>Lieu : {{ evenement.ville }}</h6>

        <p class="card-text">Début : {{ evenement.horaireDebut | date('H:i:s') }}</p>

        {% if app.user %}
            <a href="{{ path('evenement_show', {'id': evenement.id}) }}" class="btn btn-primary offset-9">
                <i class="fa fa-eye"></i>
                Détail
            </a>
        {% else %}
            <span class="badge badge-pill badge-danger mb-2">Connectez vous poour accéder au détail</span>
        {% endif %}
    </div>
</div>